
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RegisterRoute</title>
</head>
<body>
    <h2>Registration Submitted</h2>
    <p>Your Registration Information has been sent for Approval.</p>
    <p>Please Check your email for Acceptance.</p>
    <p>Note: External Account Validation can take 3 Days </p>

    <form  method="GET"  action="/Home/Index">
        <input type="submit" value="Return to Home Page">
    </form>

</body>
</html>

